
<br />

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<div class="container">
    <h2>Login Form</h2>

    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
        <table>
            <tr>

                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Enter Email-Id" name="emailId"
                            #emailId="ngModel" ngModel required minlength="2" maxlength="30" />
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Enter Password" name="password"
                            #password="ngModel" ngModel required minlength="2" maxlength="8" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="g_id_onload"
                        data-client_id="642118565789-o12cohuhb4o57qerf0govqa16n2u3lvn.apps.googleusercontent.com"
                        data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost:4200/products"
                        data-auto_prompt="false">
                    </div>

                    <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_blue"
                        data-text="signin_with" data-size="large" data-logo_alignment="left">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      (resolved)="onCaptchaResolved($event)">
                    </ngx-recaptcha2>
                </td>
            </tr>

            <tr>
                <td><button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button></td>
            </tr>
        </table>
    </form>

    <div>
        <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter Email-Id</div>
        <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>

        <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2
            Characters for EmailId</div>
        <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 2
            Characters for Password</div>
           
    </div>
</div>