
<div class="container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4">
          <img src="{{ product.imageUrl }}" class="card-img-top" alt="{{ product.exercise }}" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{ product.exercise }}</h5>
            <p class="card-id">{{product.id}}</p>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Price: ${{ product.Price }}</p>
            <p align="right">
              <a routerLink="/cart"><button>Add to cart</button></a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>