<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Email Verification</title>
<style>
		@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&amp;display=swap");
		*{
			margin: 0;
  			padding: 0;
  			box-sizing: border-box;
  			font-family: "Open Sans", sans-serif;
  		}
		body{
			display:flex;
			justify-content: center;
			align-items:center;
			height:100vh;
			/*https://cdn.pixabay.com/photo/2016/02/22/20/22/bmw-1216469_1280.jpg  */
			background: url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?q=80&amp;w=1583&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), #000;
  			background-position: center;
  			background-size: cover;
		}
		input {
		  width: 100%;
		  height: 40px;
		  background: transparent;
		  border: none;
		  outline: none;
		  font-size: 16px;
		  color: #fff;
		  border-bottom: 2px solid #ccc;
		  
		}
		.label{
		  color: #fff;
		  font-size: 16px;
		  
		}
		form{
			width: 400px;
			border-radius: 8px;
			padding: 30px;
			border: 1px solid rgba(255, 255, 255, 0.5);
			backdrop-filter: blur(7px);
			-webkit-backdrop-filter: blur(7px);
		}
		.button {
		  background: #fff;
		  color: #000;
		  font-weight: 600;
		  border: none;
		  margin-bottom:15px;
		  cursor: pointer;
		  border-radius: 3px;
		  font-size: 16px;
		  
		 
		}
		
		.button:hover {
		  color: #fff;
		  border-color: #fff;
		  background: rgba(255, 255, 255, 0.15);
		}
		input[type=text] {
		  width: 100%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  box-sizing: border-box;
		  margin-bottom:15px;
		  
		}
		input[type=text]:focus{
		
		background-color:none;
		
		}
		form p{
			color:white;
		}
		.warning{
			color:red;
			margin-bottom:10px;
			font-weight:600;
		}
		
		
	</style>
</head>

<body>
	
	<h:form>
		<div>
			<p>Dear, <h:outputText value="#{forgotPassword.userName}"></h:outputText></p>
			<p>
			We have sent an OTP (One-Time Password) to your registered email address. Please check your inbox and use this OTP to proceed with the 
			verification process.
			If you don't see the email in your inbox, please check your spam or junk folder. If you still can't find it, please click on 'Resend OTP'.
			Thank you for your patience and cooperation.
			Best Regards,
			Your Team
			</p>
		</div>
		<h:outputLabel for="otp">OTP: </h:outputLabel>
		<br/>
		<h:inputText value="#{forgotPassword.userotp}" id="otp" autocomplete="off"></h:inputText>
		<div class="warning"><h:outputText value="#{forgotPassword.otperror}" ></h:outputText></div>
		<h:commandButton value="verify" action="#{forgotPassword.verify()}" class="button button1"></h:commandButton>
		<h:commandButton value="Resend OTP" action="#{forgotPassword.reSendEmail()}" class="button button1"></h:commandButton>
	</h:form>
	
</body>
</html>
