<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Forget Password</title>
	<style>
		@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&amp;display=swap");
		*{
			margin: 0;
  			padding: 0;
  			box-sizing: border-box;
  			font-family: "Open Sans", sans-serif;
  		}
		body{
			display:flex;
			justify-content: center;
			align-items:center;
			height:100vh;
			/*https://cdn.pixabay.com/photo/2016/02/22/20/22/bmw-1216469_1280.jpg  */
			background: url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?q=80&amp;w=1583&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), #000;
  			background-position: center;
  			background-size: cover;
		}
		input {
		  width: 100%;
		  height: 40px;
		  background: transparent;
		  border: none;
		  outline: none;
		  font-size: 16px;
		  color: #fff;
		  border-bottom: 2px solid #ccc;
		  
		}
		.label{
		  color: #fff;
		  font-size: 16px;
		  
		}
		form{
			width: 400px;
			border-radius: 8px;
			padding: 30px;
			border: 1px solid rgba(255, 255, 255, 0.5);
			backdrop-filter: blur(7px);
			-webkit-backdrop-filter: blur(7px);
		}
		.button {
		  background: #fff;
		  color: #000;
		  font-weight: 600;
		  border: none;
		 
		  cursor: pointer;
		  border-radius: 3px;
		  font-size: 16px;
		  
		 
		}
		
		.button:hover {
		  color: #fff;
		  border-color: #fff;
		  background: rgba(255, 255, 255, 0.15);
		}
		input[type=text] {
		  width: 100%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  box-sizing: border-box;
		  margin-bottom:15px;
		  
		}
		input[type=text]:focus{
		
		background-color:none;
		
		}
		.warning{
			color:red;
			margin-bottom:10px;
			font-weight:600;
		}
		
	</style>
	
</h:head>
<h:body>
	<h:form>
		<h:outputLabel for="email" styleClass="label" autocomplete="off">Enter the Email : </h:outputLabel>
		<br/>
		<h:inputText id="email" value="#{forgotPassword.email}" autocomplete="off"></h:inputText>
		<br/>
		<div class="warning"><h:outputText value="#{forgotPassword.emailerror}"></h:outputText></div>
		<h:commandButton value="submit" action="#{forgotPassword.submit()}" styleClass="button"></h:commandButton>
	</h:form>
</h:body>
</html>
