<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
    <title>Your Page Title</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&amp;display=swap");
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            width: 100%;
            padding: 0 10px;
            position: relative;
        }

        body::before {
		    content: "";
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    background: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&amp;w=2070&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), #000;
		    background-position: center;
		    background-size: cover;
		    z-index: -1;
		}


        .container {
            width: 400px;
            border-radius: 8px;
            padding: 30px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
            z-index: 1; 
        }

        form {
            display: flex;
            flex-direction: column; 
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: purple;
        }

        .input-field {
            
            border-bottom: 2px solid #ccc;
            margin: 20px 0;
            width: 400px; 
        }

        .input-field label {
            color: orange;
            font-size: 16px;
           
        }

        .input-field input {
            width: 100%;
            height: 40px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            color: #fff;
        }

        .submit-button {
            background: #fff;
            color: #000;
            font-weight: 600;
            border: none;
            padding: 12px 20px;
            cursor: pointer;
            border-radius: 3px;
            font-size: 16px;
            border: 2px solid transparent;
            transition: 0.3s ease;
            margin-top: 20px; 
            width: 100%;
        }

        .submit-button:hover {
            color: #fff;
            border-color: #fff;
            background: rgba(255, 255, 255, 0.15);
        }
        
        .error-message {
            color: red; 
            font-size: 24px;
            margin-top: 5px;
        }
        
        span{
        	color:white;
        	font-size:18px;
        	margin-right:10px;
        }
        
        .links-container {
            display: flex;
            width: 400px;
            margin-top: 20px;
        }

        .links-container a {
            color: #fff;
            text-decoration: none;
            transition: color 0.3s ease;
            font-size:18px; 
        }

        .links-container a:hover {
            color: #ccc;
        }
    </style>
</head>
<body>
<div class="container">
    <h:form>
        <h2 style="text-align:center;">Login Form</h2>
        <div class="input-field">
        	<h:outputLabel for="User Name" id="usernameLabel" value="User Name "/>
            <h:inputText id="sername" value="#{login.userName}"  required="true"/>
            
        </div>
        <div class="input-field">
        	<h:outputLabel for="Password" id="passwordLabel" value="Password "/>
            <h:inputSecret id="password" value="#{login.password}"  required="true"/>
            
        </div>
        <div class="links-container">
            <h:link value="Forgot Password" outcome="forgotpassword.xhtml"/>
        </div>

        <h:outputText value="#{login.errorMessage}" styleClass="error-message"/><br/>
        <h:commandButton action="#{login.submit()}" value="Submit" styleClass="submit-button"/>
        <div class="links-container">
        	<span>Don't have Account ?</span>
            <h:link value="Create Account" outcome="register.xhtml"/>
        </div>
        
    </h:form>
</div>
</body>
</html>
