<!-- 
<app-login></app-login>
<app-register></app-register>
<app-showempbyid></app-showempbyid>
<app-test></app-test>
<app-test2></app-test2> 
<app-products></app-products>
<app-productsbootstrap></app-productsbootstrap>
<app-showemployees></app-showemployees>
-->

<div>
    <app-header></app-header>
    <router-outlet></router-outlet>
</div>