
<div class="container">
    <div class="product" *ngFor="let product of products">
        <img src="{{product.imageUrl}}" alt="{{product.exercise}}" height="200px;" width="400px">
        <h3>{{product.exercise | uppercase}}</h3>
        <p>{{product.description}}</p>
        <p>{{product.Price}}</p>
        <a href="#" >Add to Cart</a>
    </div>
</div>