.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.product{
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 20px;
}

a{
    text-decoration: none;
    border-style: solid;
    padding: 5px;
    background-color: blue;
    color: white;
}