<div>
    Name:{{this.name}}
    Age:{{this.age}}
    details:
    <br/>
    City:{{details.city}}
    pincode:{{details.pincode}}
    state:{{details.state}}
    country:{{details.country}}
    <br/>
    <ul>
        <li *ngFor="let hobby of hobbies">{{hobby}}</li>
    </ul>
</div>
